.contenedor{
    display: block;
    margin-top: 1rem;
    .text{
        width: 47%;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid black;
        margin: 0 auto;
        h1{
        text-align: center;
        }
    
    }
    .uno{
        animation: uno 1s ease;
    }
    @keyframes uno{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

}
button{
    position: relative;
    left: 45%;
}
.Angular-logo{
    width: 50px;
    position: relative;
    left: calc(50% - 25px)
}

